<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'main/links.html' %}
    <title>Criar carro</title>
</head>

<body class="container">
    <form class="form" action="/main/criar-carro/" method="post">
        {% csrf_token %}
        {{ form }}
        <div class="d-grid gap-2">
            <button class="btn btn-primary" type="submit">
                Enviar
            </button>
        </div>
    </form>
</body>

{% include 'main/scripts.html' %}

</html>